<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js practice</title>
</head>
<body>
    <nav>
        <a href="./index.html">Index page</a>
        <a href="./about.html">About page</a>
        <a href="./contact-me.html">Contact-me page</a>     
    </nav>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quos, beatae itaque qui quo, ducimus quibusdam optio ad repellat rem velit? Iure veniam odit esse, distinctio ratione sed quidem. Earum?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae doloremque ipsa at sequi. Cum necessitatibus soluta quos itaque illum. Soluta neque reprehenderit impedit, quis accusantium rem quasi illum provident aliquam.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum eum eius maiores, omnis soluta magnam, vel rerum vitae dolor at numquam commodi fuga officiis quaerat impedit expedita similique aspernatur deleniti!</p>

</body>
</html>